.eidt-account-page-container {
  h3 {
    font-family: Exo\ 2, Helvetica Neue, Arial, sans-serif !important;
    color: #272c33;
    margin-bottom: 1rem;
  }

  .text-muted {
    color: rgba(39, 44, 51, .5) !important;
    margin-left: 21px;
  }

  .card {
    .card-body {
      padding: 0;
    }

    .list-group {
      .list-group-item {
        padding: 1rem 1.5rem;
        color: #272c33;

        .form-group {
          .form-label {
            font-family: Exo\ 2, Helvetica Neue, Arial, sans-serif !important;
            text-transform: uppercase;
            letter-spacing: .1rem;
          }

          .form-control {
            padding: .5rem .75rem;
            font-size: .875rem;
          }
        }

        .custom-checkbox  {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          .custom-control-input {
            cursor: pointer;
            width: 15px;
            height: 15px;
            margin-right: .5rem;
          }

          .custom-control-label {
            cursor: pointer;
            margin-bottom: 0;
            line-height: 1;
            font-size: .875rem;
          }
        }
      }
    }

    .card-footer {
      display: flex;
      justify-content: end;

      .btn-primary {
        padding: .5rem .75rem;
        color: white;
        font-family: Exo\ 2, Helvetica Neue, Arial, sans-serif !important;

      }
    }
  }
}