
.navbar-header {
  font-family: Exo\ 2,Helvetica Neue,Arial,sans-serif !important;
  input {
    font-family: "Roboto", sans-serif !important;
  }
  height: 64px !important;
  box-shadow: 0 6px 6px -3px rgba(39, 44, 51, .1), 0 10px 14px 1px rgba(39, 44, 51, .04), 0 4px 18px 3px rgba(39, 44, 51, .02) !important;
  i{
    font-size: 24px !important;
  }
}