#sidebar-menu {
  
  .sidebar-avatar-container {
    .simplebar-content-wrapper{
      overflow: hidden !important;
    }
    .sidebar-avatar {
      border-radius: 100px;
      background-color: white;
      box-sizing: initial;
      font-family: Exo\ 2,Helvetica Neue,Arial,sans-serif;
      h4{
        font-family: Exo\ 2,Helvetica Neue,Arial,sans-serif;
      }
      img{
        width: 36px;
        height: 36px;
        object-fit: cover;
      }
    }
  }


}