#sidebar-menu {
  .sidebar-avatar-container {
    padding: 12px 20px;
    .sidebar-avatar {
      height: 50px;
      width: 90%;
      border-radius: 45px;
      background-color: white;
      padding: 15px;
      box-sizing: initial;
    }
  }

  .sidebar-padding {
    padding: 12px 20px;
  }
}